<section class="h-screen flex flex-col justify-center items-center text-center px-6">
  <h2 class="text-5xl font-bold mb-4">NEON BLADE</h2>
  <p class="max-w-2xl text-lg opacity-80">
    Un videojuego futurista donde la humanidad lucha por sobrevivir
    en un mundo dominado por inteligencias rebeldes.
  </p>

  <a href="#story" class="mt-8 inline-block px-10 py-4 neon-border text-xl">
    Historia del Juego
  </a>
</section>
