<div class="pointer-events-none fixed inset-0 z-0 opacity-40">
  <div class="absolute inset-0 bg-[url('https://media.es.wired.com/photos/6776b2d78a0ea5cfeb3d5210/16:9/w_2560%2Cc_limit/1334436084')] bg-cover animate-pulse"></div>
</div>
