---
import "../styles/global.css";
import Smoke from "../components/Smoke.astro";
const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  </head>
  <body class="bg-black text-white relative overflow-hidden">
    <Smoke />
    <slot />
  </body>
</html>
